
@font-face {
	font-family: "HelveticaNeueCyr-Bold"; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Bold"), /* проверяем наличие шрифта в ОС пользователя */
	url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
	font-family: "HelveticaNeueCyr-Roman"; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Roman"), /* проверяем наличие шрифта в ОС пользователя */
	url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.otf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
	font-family: "HelveticaNeueCyr-Light"; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Light"), /* проверяем наличие шрифта в ОС пользователя */
	url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
	font-family: "HelveticaNeueCyr-Medium"; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Medium"), /* проверяем наличие шрифта в ОС пользователя */
	url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.otf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
	font-family: "HelveticaNeueCyr-Bold"; /* имя шрифта для CSS правил */
	src: local("HelveticaNeueCyr-Bold"), /* проверяем наличие шрифта в ОС пользователя */
	url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.otf"); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

