*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:-ms-input-placeholder      {color: transparent}


html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	overflow-x: hidden;
	background-color: #ebeaec;
}
.hidden {
	display: none;
}

.main-header {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 600px;
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*-------------------------- desktop-menu*/
.main-header .desktop-menu {
	display: block;
	position: relative;
	height: 75px;
	padding-top: 15px;
}
.main-header .desktop-menu .navbar-logo {
	float: left;
	height: 100%;
}
.main-header .desktop-menu ul {
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	margin-left: 15%;
	padding-top: 25px;
}
.main-header .desktop-menu ul li {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	white-space: nowrap;
	display: inline;
	float: left;
	margin-left: 35px;
}
.main-header .desktop-menu ul li:first-child {
	margin-left: 0;
}
.main-header .desktop-menu ul li a {
	padding: 0;
	height: 100%;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	padding-bottom: 2px;
	text-transform: uppercase;
	outline: none;
	text-decoration: none;
}
.main-header .desktop-menu ul li a:hover {
	border-bottom: 2px solid #2cd6bc;
}
.main-header .desktop-menu .navbar-like {
	float: right;
	padding-top: 25px;
}
.main-header .desktop-menu .navbar-like a {
	display: inline-block;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #c799ff;
	line-height: 14px;
	padding-bottom: 2px;
	border-bottom: 1px dashed #c799ff;
	text-decoration: none;
}
.main-header .desktop-menu .navbar-like img {
	height: 100%;
	padding-left: 10px;
}
.main-header .desktop-menu .navbar-like a:hover {
	text-decoration: none;
}
/*-------------------------- mobile-menu*/
.main-header .mobile-menu {
	display: none;
}
/*--------------------------- header-content-page*/
.main-header .header-content {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 100px;
	min-height: 350px;
}
.main-header .header-content form {
	position: relative;
}
.main-header .header-content form .dropdown {
	display: block;
	text-align: center;
}
.main-header .header-content form .dropdown select {
	background: none;
	border: none;
	outline: none;
	color: #2cd6bc;
	cursor: pointer;
}
.main-header .header-content form .dropdown select option{
	color:#fff;
	background:#369;
}
.main-header .header-content form .happy-day {
	text-align: center;
}
.main-header .header-content form .happy-day span {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 3px dashed #2cd6bc;
	padding-bottom: 3px;
}
.main-header .header-content form .header-search {
	position: relative;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 25px;
}
.main-header .header-content form .header-search .search {
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #949494;
	outline: none;
	border: none;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url("../img/search_bg.png");
	background-repeat: no-repeat;
	background-position: 99% 50%;
}
.main-header .header-content form .header-search .search:focus::-webkit-input-placeholder {color: transparent}
.main-header .header-content form .header-search .search:focus::-moz-placeholder          {color: transparent}
.main-header .header-content form .header-search .search:focus:-moz-placeholder           {color: transparent}
.main-header .header-content form .header-search .search:focus:-ms-input-placeholder      {color: transparent}

.main-header .header-content form .search-content {
	position: relative;
	margin-bottom: 55px;
	height: 40px;
}
.main-header .header-content form .search-content .content-item {
	position: relative;
	padding: 0;
	padding-left: 15px;
	height: 100%;
}
.main-header .header-content form .search-content .content-item:first-child {
	padding-left: 0;
}
.main-header .header-content form .search-content .content-item ul {
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.main-header .header-content form .search-content .content-item ul li {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	white-space: nowrap;
	display: inline;
	float: left;
	margin-left: 35px;
	line-height: 40px;
}
.main-header .header-content form .search-content .content-item ul li:first-child {
	margin-left: 0;
}
.main-header .header-content form .search-content .content-item ul li a {
	display: block;
	color: #fff;
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
}
.main-header .header-content form .search-content .content-item ul li .link-1 {
	background-image: url("../img/user-1.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 35px;
}
.main-header .header-content form .search-content .content-item ul li .link-1:hover {
	color: #2cd6bc;
	background-image: url("../img/user-1-h.png");
}
.main-header .header-content form .search-content .content-item ul li .link-1:focus {
	color: #2cd6bc;
	background-image: url("../img/user-1-f.png");
}
.main-header .header-content form .search-content .content-item ul li .link-2 {
	background-image: url("../img/user-2.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 35px;
}
.main-header .header-content form .search-content .content-item ul li .link-2:hover {
	color: #2cd6bc;
	background-image: url("../img/user-2-h.png");
}
.main-header .header-content form .search-content .content-item ul li .link-2:focus {
	color: #2cd6bc;
	background-image: url("../img/user-2-f.png");
}
.main-header .header-content form .search-content .content-item ul li .link-3 {
	background-image: url("../img/user-3.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 55px;
}
.main-header .header-content form .search-content .content-item ul li .link-3:hover {
	color: #2cd6bc;
	background-image: url("../img/user-3-h.png");
}
.main-header .header-content form .search-content .content-item ul li .link-3:focus {
	color: #2cd6bc;
	background-image: url("../img/user-3-f.png");
}


.main-header .header-content form .search-content .content-item .user-age {
	position: relative;
	display:block;
	height: 100%;
	text-align: center;
}
.main-header .header-content form .search-content .content-item .user-age span {
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	font-style: normal;
	font-family: "HelveticaNeueCyr-Medium";
}
.main-header .header-content form .search-content .content-item .user-age img {
	margin-left: 9px;
}
.main-header .header-content form .search-content .content-item .user-age .user-age-input {
	width: 90px;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #949494;
	text-align: center;
	line-height: 40px;
	margin-left: 10px;
}
.main-header .header-content form .search-content .content-item .price {
	position: relative;
	display:block;
	height: 100%;
	text-align: right;
}
.main-header .header-content form .search-content .content-item .price span {
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	font-style: normal;
	font-family: "HelveticaNeueCyr-Medium";
}
.main-header .header-content form .search-content .content-item .price img {
	margin-left: 10px;
}
.main-header .header-content form .search-content .content-item .price .price-input {
	width: 90px;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #949494;
	text-align: center;
	line-height: 40px;
	margin-left: 10px;
}
.main-header .header-content form .search-button {
	position: relative;
	display: block;
	text-align: center;
	height: 50px;
}
.main-header .header-content form .search-button .button {
	border: none;
	width: 200px;
	height: 100%;
	background-color: #2cd6bc;
	border-radius: 3px;
	outline: none;
	color: #fff;
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}
.main-header .header-content form .search-button .button:hover {
	background-color: #21bfa7;
}


.recommend {
	position: relative;
	height: 100%;
	padding-top: 60px;
}
.recommend .top-title-line {
	position: relative;
	width: 100%;
	display: inline-block;
}
.recommend .top-title-line h2 {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 30px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #8c8c8c;
}
.recommend .top-title-line a {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	float: right;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	font-style: normal;
	color: #5d3b8c;
	text-decoration: none;
	outline: none;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}
.recommend .top-title-line a:hover {
	color: #8c8c8c;
}
.recommend .top-title-line a:hover .glyphicon {
	opacity: 1;
	color: #8c8c8c;
}
.recommend .top-title-line .glyphicon {
	font-size: 10px;
	padding-left: 5px;
	color: #5d3b8c;
}
.recommend .recommend-content {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-top: 20px;
}
.recommend .recommend-content .content-item {
	padding-left: 0px;
}
.recommend .recommend-content .content-item:nth-child(3) {
	padding-right: 0px;
}.recommend .recommend-content .content-item:nth-child(7) {
	padding-right: 0px;
}

.recommend .recommend-content .banner-item {
	position: relative;
	margin-bottom: 20px;
	min-height: 330px;
	background-color: #fff;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.recommend .recommend-content .banner-item img {
	width: 100%;
	max-height: 230px;
	display: block;
	border-top-right-radius: 3px; 
	border-top-left-radius: 3px;
}
.recommend .recommend-content .banner-item h3 {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	font-family: "HelveticaNeueCyr-Bold";
	font-weight: normal;
	font-style: normal;
	color: #000;
	text-align: center;
}
.recommend .recommend-content .banner-item span {
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	font-size: 16px;
	line-height: 16px;
	font-family: "HelveticaNeueCyr-Light";
	font-weight: normal;
	font-style: normal;
	color: #838383;
	text-align: center;
}
.recommend .recommend-content .banner-item:hover {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	box-shadow: 0 15px 70px rgba(0,0,0,.3);
}


.recommend .recommend-content .banner-item-3 {
	position: relative;
	margin-bottom: 20px;
	min-height: 330px;
	background-color: #fff;
	padding: 45px 40px 45px 40px;
	cursor: pointer;
	background-image: url("../img/banner-3.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.recommend .recommend-content .banner-item-3 h3 {
	font-size: 20px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #c79001;
}
.recommend .recommend-content .banner-item-3 p {
	margin: 0;
	padding: 0;
	margin-top: 60px;
	font-family: "HelveticaNeueCyr-Bold";
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
}
.recommend .recommend-content .banner-item-3 small {
	font-size: 16px;
	font-weight: normal;
	font-family: "HelveticaNeueCyr-Roman";
}
.recommend .recommend-content .banner-item-5 {
	position: relative;
	margin-bottom: 20px;
	height: 155px;
	background-color: #fff;
	cursor: pointer;
	background-image: url("../img/banner-5.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.recommend .recommend-content .banner-item-5 h3 {
	position: absolute;
	left: 20px;
	bottom: 20px;
	margin: 0;
	font-size: 14px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #fff;
}
.recommend .recommend-content .banner-item-6 {
	position: relative;
	margin-bottom: 20px;
	height: 155px;
	background-color: #fff;
	cursor: pointer;
	padding: 15px;
	background-image: url("../img/banner-6.png");
	background-repeat: no-repeat;
	background-position: center top;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.recommend .recommend-content .banner-item-6 h3 {
	font-size: 14px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #000;
	text-align: center;
}
.recommend .recommend-content .banner-item-3:hover {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	box-shadow: 0 15px 70px rgba(0,0,0,.3);
}
.recommend .recommend-content .banner-item-5:hover {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	box-shadow: 0 15px 70px rgba(0,0,0,.3);
}
.recommend .recommend-content .banner-item-6:hover {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	box-shadow: 0 15px 70px rgba(0,0,0,.3);
}


.special-offer {
	position: relative;
	height: 100%;
	padding-top: 40px;
}
.special-offer .top-title-line {
	position: relative;
	width: 100%;
	display: inline-block;
}
.special-offer .top-title-line h2 {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 30px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #8c8c8c;
}
.special-offer .top-title-line a {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	float: right;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	font-style: normal;
	color: #5d3b8c;
	text-decoration: none;
	outline: none;
}
.special-offer .top-title-line a:hover {
	color: #8c8c8c;
}
.special-offer .top-title-line a:hover .glyphicon {
	color: #8c8c8c;
}
.special-offer .top-title-line .glyphicon {
	font-size: 10px;
	padding-left: 5px;
}
.special-offer .special-offer-content {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
	padding-top: 20px;
}
.special-offer .special-offer-content .content-item-footer {
	position: relative;
	display: block;
	padding-top: 30px;
	padding-bottom: 60px;
	text-align: center;
}
.special-offer .special-offer-content .content-item-footer p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #000;
	text-align: left;
}
.special-offer .special-offer-content .content-item-footer span {
	color: #7b4c98;
}
.special-offer .special-offer-content .content-item-footer a {
	display: inline-block;
	vertical-align: top;
	width: 200px;
  height: 50px;
  line-height: 50px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: #2cd6bc;
  border-radius: 3px;
  color: #fff;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}
.special-offer .special-offer-content .content-item-footer a:hover {
	background-color: #21bfa7;
}
.special-offer .special-offer-content .content-item {
	position: relative;
	width: 100%;
	min-height: 360px;
	margin-bottom: 20px;
	padding-top: 90px;
	padding-left: 70px;
}
.special-offer .special-offer-content .content-item h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #000;
}
.special-offer .special-offer-content .content-item p {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #4d4d4d;
}
.special-offer .special-offer-content .content-item .button {
	display: block;
	margin-top: 40px;
	width: 183px;
	height: 46px;
	border: 1px solid #462b6a;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	line-height: 44px;
	font-weight: normal;
	font-style: normal;
	color: #000;
	text-decoration: none;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
}
.special-offer .special-offer-content .content-item .button .glyphicon {
	font-size: 12px;
	padding-left: 15px;
}
.special-offer .special-offer-content .content-item .button:hover {
	color: #fff;
	background-color: #462b6a;
}
/*.special-offer .special-offer-content .content-item:hover {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 15px 70px rgba(0,0,0,.3);
	box-shadow: 0 15px 70px rgba(0,0,0,.3);
}*/
.special-offer .special-offer-content .content-item:nth-child(1) {
	background-image: url("../img/special-offer-banner-3.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.special-offer .special-offer-content .content-item:nth-child(2) {
	background-image: url("../img/special-offer-banner-2.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.special-offer .special-offer-content .content-item:nth-child(3) {
	background-image: url("../img/special-offer-banner-3.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.footer-banner {
	position: relative;
	padding: 90px 0px;
	min-height: 580px;
	background-color: #fff;
}
.footer-banner h1 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-family: "HelveticaNeueCyr-Bold";
	font-style: normal;
	color: #000;
}
.footer-banner p {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	font-family: "HelveticaNeueCyr-Light";
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #1b1b1b;
}

footer {
	position: relative;
	padding: 45px 0px;
	background-color: #462b6a;
}
footer .footer-logo {
	position: relative;
	min-height: 130px;
	padding-right: 0;
	background-image: url("../img/footer-line.png");
	background-repeat: no-repeat;
	background-position: center right;
}
footer .footer-logo img {
	margin-left: -5px;
	margin-top: -10px;
}
footer .footer-logo span {
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	font-family: "HelveticaNeueCyr-Light";
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #976dcf;
}

footer .footer-nav {
	position: relative;
	padding-left: 45px;
	display: block;
	margin-top: 20px;
	background-image: url("../img/footer-line.png");
	background-repeat: no-repeat;
	background-position: center right;
}
footer .footer-nav .footer-nav-item {
	position: relative;
	display: inline-block;
	width: 25%;
}
footer .footer-nav .footer-nav-item:last-child {
	width: 40%;
}
footer .footer-nav .footer-nav-item a {
	display: block;
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	text-decoration: none;
	margin-bottom: 20px;
}
footer .footer-nav .footer-nav-item a:last-child {
	margin-bottom: 0px;
}
footer .footer-nav .footer-nav-item a:hover {
	color: #976dcf;
}

footer .footer-social {
	position: relative;
	text-align: right;
}
footer .footer-social p {
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	margin-top: 15px;
}
footer .footer-social a {
	margin-left: 20px;
	margin-top: 15px;
	-webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
footer .footer-social .facebook {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../img/facebook.png");
}
footer .footer-social .vkontakte {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../img/vkontakte.png");
}
footer .footer-social .instagram {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../img/inst.png");
}
footer .footer-social .facebook:hover {
	background-image: url("../img/facebookh.png");
}
footer .footer-social .vkontakte:hover {
	background-image: url("../img/vkontakteh.png");
}
footer .footer-social .instagram:hover {
	background-image: url("../img/insth.png");
}